{:name "NEO Clojure CLR"
 :source-paths ["src", "tasks"]
 :dependencies [[:nuget clojure.data.json "0.2.1.0"]
                [:nuget BouncyCastle "1.8.1"]]
 :assembly-paths ["deps/ext/neo"]
 :references ["Neo" "Neo.VM"]}
